# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Excel temp files
~$*.xlsx

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Personal notes
Study_notes/